.cor{
    color: chocolate
}

.cabecario{
    font-size: 90px;
    font-weight: 500;
}
.titulo{
    font-size: 40px;
    font-weight: 600;
}
.topicos{
    font-size: 30px;
    font-weight: 300;
}
.texto{
    font-size: 18px;
}